.container{
    box-shadow: 0px 1px 5px #333333;
    background-color: rgba(255,255,255, 0.4);
    min-height: 450px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
      
}

.container .container-heading{
    margin: 5px;
    padding: 15px 5px 5px 15px;
}

.container .container-heading h3{
    font-size: 25px;
    text-decoration: none;
}

.container .container-description{
    margin: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 12px;
    font-size: 15px;
}

.container .container-image{
    margin: 10px;
    overflow: hidden;
    width: 320px;
    height: 260px;
    border-radius: 5px;
    display: block;
    float: right;
    box-shadow: 0px 1px 5px rgb(38 143 255);
}

.container .container-image img{
    height: 87%;
    width: 100%;
    object-fit: cover;
}

.container .container-image .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(38 143 255);
}

.container .container-box .icons span{
    font-size: 12px;
    margin: 7px 10px;
    color: #777;
}

.container .container-box .icons span i{
    color: #333333;
    padding-right: 5px;
}

.container .container-box #add-button{
    margin: 20px 15px;
}

.container .container-box #add-button button{
    margin-top: 20px;
    padding: 14px 23px;
    border-radius: 5px;
    border: 1px solid rgb(38 143 255);
}

.container .container-box #add-button button:hover{
    background-color: rgb(38 143 255 / 30%);
    color: #333333;
    border: none;
}

#wrapper .container .container-images{
    margin-top: 5px;
    padding: 3px;
    border-top: 1px solid rgb(38 143 255);
    height: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 5px;

}

#wrapper .container .container-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aqua;

}



