#wrapper main #unicorn-container {
    margin: 5px 0;
}

.unicorn-container-box:hover {
    -webkit-box-shadow: 0px 0px 100px 0px rgb(255, 0, 153);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255, 0, 153,1);
    box-shadow: 0px 0px 100px 0px rgba(255, 0, 153,1);
    transition: .8s ease;
}

#wrapper main #unicorn-container .unicorn-container-box {
    background-color: rgba(255,255,255, 0.4);
    width: 480px ;
    height: 400px ;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    float: left;
    display:inline;
    overflow: hidden;  
}


#wrapper main #unicorn-container .unicorn-container-box .unicorn-picture {
    margin: 3px;
    overflow: hidden;
    width: 270px;
    height: 210px;
    border-radius: 5px;
    display: block;
    float: right;
    box-shadow: 0px 1px 5px rgb(38 143 255);  
}

#wrapper main #unicorn-container .unicorn-container-box .unicorn-picture img {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

#wrapper main #unicorn-container .unicorn-container-box .unicorn-heading {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#wrapper main #unicorn-container .unicorn-container-box .unicorn-description {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#wrapper main #unicorn-container .unicorn-container-box .unicorn-picture .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    padding-top: 5px;
    border-top: 1px solid rgb(38 143 255);
}
  
.unicorn-picture > .icons span {
    font-size: 12px;
    color: rgba(95, 21, 242);
}
  
.unicorn-picture > .icons span i {
    color: rgba(28, 127, 238);
    padding-right: 5px;
}

#wrapper main #spotted-unicorn-header {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.4);
}
  
#wrapper main #spotted-unicorn-header p {
    color: #030303;
    margin: 10px 0 0 20px;
    font-size: 23px;  
}

#wrapper > main #load-more {
    margin-left: 435px;
    width: 120px;
    height: 80px;
    text-align:center;
    font-size: 15px;
    padding-top: 3px;
    background: url("/Main/cloud-btn.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper main #load-more:hover {
    -webkit-transform: scale(1.2);
}