#wrapper main .searchunicorn-container {
    height: auto; 
    max-width: 810px;
    margin: 10px auto;  
    background-color: rgba(255,255,255, 0.4);
    border: 1px solid rgb(38 143 255);
    border-radius: 5px;

}

#wrapper main .searchunicorn-form {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 400px;
    float: left;
    font-size: 22px;
    padding: 10px;
}

#wrapper main .searchunicorn-form > h5 {
    margin-bottom: 10px;
}

#wrapper main .searchunicorn-form > label {   
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
}

#wrapper main .searchunicorn-form > select, input {
    padding: 5px;
    border: 1px solid rgb(38 143 255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    font-size: 15px;
}

#wrapper main .searchunicorn-container #submit {
    position: relative;
    right: 8%;
    margin-top: 20px;
    width: 120px;
    height: 80px;
    text-align:center;
    font-size: 18px;
    background: url("/Main/cloud-btn.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper main .searchunicorn-container #submit:hover, button:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#map {
    width: 400;
    height: 420px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid rgb(38 143 255);
    
}

@media screen and (max-width: 850px ){

    #wrapper main .searchunicorn-container{
        max-width: 410px;
    }

    #map{
        margin: auto;
    }

    #wrapper main .searchunicorn-container #submit{
        position: relative;
        left: 30%;
    }
}

@media screen and (max-width: 430px ){
    #wrapper main .searchunicorn-form, #map{
        width: auto;
    }

    #wrapper main .searchunicorn-container #submit{
        right: 0 ;
        left: 30%;
    }
}

@media screen and (max-width: 330px ){
    #wrapper main .searchunicorn-container #submit{
        right: 0 ;
        left: 22%;
    }
}